* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.left_side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_side img {
    max-width: 500px;
    height: auto;
}

.right_side {
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}

.right_side label {
    display: block;
    margin-bottom: 20px;
}

.right_side input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.personal_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
}

.personal_information span {
    margin-top: 10px;
}

.social img {
    width: 32px;
    height: 32px;
}


.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}

@media (min-width:450px) and (max-width:800px) {
    * {
        box-sizing: unset;
    }

    body {
        background-color: #403c56;
    }

    .screen {
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .left_side {
        display: flex;
        justify-content: unset;
        align-items: unset;
        margin-top: -500px;
        height: auto;
    }

    .left_side img {
        max-width: none;
    }

    .right_side {
        position: fixed;
        margin-top: 200px;
    }

    .personal_information {
        margin-top: 50px;
    }

}

@media (max-width:450px) {
    * {
        box-sizing: unset;
    }

    body {
        background-color: #403c56;
    }

    .screen {
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .left_side {
        display: flex;
        justify-content: unset;
        align-items: unset;
        margin-top: -500px;
        height: auto;
    }

    .left_side img {
        max-width: none;
    }

    .right_side {
        position: fixed;
        margin-top: 0;
        width: 70vw;
    }

    .personal_information {
        margin-top: 50px;
    }
}